@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,500&family=Caprasimo&family=Kanit:ital,wght@0,600;1,300&family=Lilita+One&family=Questrial&family=REM&family=Work+Sans:wght@500&display=swap");
@import "variables";




header {
  background-color:transparent;
  width: 100vw;
  z-index: 1;
  @include font;
  font-size: 20px;

  .navbar-brand {
    font-size: 30px;
  }
}
.main {
  background-image: url("/resources/Arctic-Fox-1-MAIN.jpg");
  background-color: $bg-color;
  width: 100vw;
  height: 100vh;
  h1 {
    position: absolute;
    font-size: 100px;
    width: fit-content;
    color: black;
    left: 50%;
    top: 38%;
    transform: translate(-50%);
    @include font;
  }
  #mainSnowing{
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
}
.specs {
  background-color: $bg-color;
  width: 100vw;
  height: 100vh;

  .specsImg {
    #imgHolder {
      position: relative;
      top: 20%;
      left: 12%;

      #imgSpecs {
        width: 80%;
        height: 500px;

        object-fit: contain;
      }
    }
  }
  .specsText {
    @include font;
  }
}

.pictures {
  background-color: $bg-color;
  width: 100vw;
  height: 100vh;

  .imgFromPicDiv {
    width: 100%;
    position: relative;
    #imgPicDiv1 {
      margin-top: 120px;
      @include picAdjustment;
    }
    #imgPicDiv2 {
      margin-top: 220px;
      @include picAdjustment;
    }
    #imgPicDiv3 {
      margin-top: 320px;
      @include picAdjustment;
    }
  }
}

.foxVideo {
  height: 100vh;
  width: 100vw;
  background-color: $bg-color;
  video {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}


#snow-container {  
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: opacity 500ms;
  width: 1536px;
}

.snow {
  animation: fall ease-in infinite, sway ease-in-out infinite;
  color: skyblue;
  position: absolute;
}


@keyframes fall {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 100vh;
    opacity: 1;
  }
}

@keyframes sway {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: 50px;
  }
  50% {
    margin-left: -50px;
  }
  75% {
    margin-left: 50px;
  }
  100% {
    margin-left: 0;
  }
}

